.App {
    --header_height: 60px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 25px 0 35px;
    margin: 10px 70px 0;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    margin-left: 70px;
    margin-top: 131px;
}
